[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.15.0"
jupyter = "==1.1.1"
flask = "*"
keras-image-helper = "*"
tensorflow-serving-api = "==2.7.0"
gunicorn = "*"
protobuf = "==3.20.3"
tensorflow-protobuf = "==2.7.0"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.16"
